.navbar {
  display: flex;
  list-style: none;
  justify-content: space-around;
  height: 3em;
  padding-left: 0 15%;
}

.navbar a {
  text-decoration: none;
  font-size: 20px;
  color: rgb(177, 177, 177);
  transition: 0.3s;
}

.navbar a:hover {
  color: white;
  font-size: 1.4em;
}